<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeName</key>
			<string>Audio Media</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aa3</string>
				<string>aac</string>
				<string>ac3</string>
				<string>acm</string>
				<string>aif</string>
				<string>aiff</string>
				<string>ape</string>
				<string>caf</string>
				<string>flac</string>
				<string>m3u</string>
				<string>m4a</string>
				<string>m4b</string>
				<string>mid</string>
				<string>midi</string>
				<string>mka</string>
				<string>mp3</string>
				<string>mpa</string>
				<string>ogg</string>
				<string>pcm</string>
				<string>ra</string>
				<string>ram</string>
				<string>wav</string>
				<string>wma</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>bz.tsung.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012年 tsung. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
